*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: linear-gradient(to top, #010329, #000005);
    --color-glass: linear-gradient(to left, #142544, #0d3b3b);
    --color-water: linear-gradient(to left, #142544, #0d3b3b);
}